// Reference #1: https://getbootstrap.com/docs/5.0/customize/sass/
// Required by Bootstrap
@import "../node_modules/bootstrap/scss/functions";

// Default variable overrides
$body-color: #B0B3B8;

$dark: #242526;

$purple: #6f42c1;
$teal: #20c997;

$primary: $purple;
$secondary: $teal;

// Import default variables
@import "../node_modules/bootstrap/scss/variables";

// Default variable overrides using imports
$headings-font-family: $font-family-monospace;
$link-hover-color: $secondary;

// Required by Bootstrap
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";
@import "../node_modules/bootstrap/scss/root";

// Optional Bootstrap components
@import "../node_modules/bootstrap/scss/reboot";  // Navbar
@import "../node_modules/bootstrap/scss/helpers";  // Cards
// End Reference #1

body {
  background: $dark;
}

@for $width from 1 through 19 {
  $width: $width * 5;
  .mw-#{$width} {
    max-width: $width * 1%
  }
}

.content {
  max-width: 55rem;
}

.text-bg-primary a {
  color: $red;
  text-decoration-color: $red;
}

.text-bg-primary a:hover {
  color: $yellow;
  text-decoration-color: $yellow;
}

.text-bg-primary {
  background-color: $primary;
  color: $light;
}